<mat-toolbar>
    <span>Welcome to Angular Login Page</span>
</mat-toolbar>

<div class="example-container">
<mat-card class="card">

<p>
    Provide your name and phone number to proceed
</p>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter your name" name="name">
          <mat-error *ngIf="this.loginForm.get('name').hasError('required')">
            name is mandatory
          </mat-error>
          <mat-error *ngIf="this.loginForm.get('name').hasError('minlength')">
            name should be at least 8 characters
          </mat-error>
          <mat-error *ngIf="this.loginForm.get('name').hasError('maxlength')">
            name should not be more than 15 characters
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Phone no</mat-label>
          <input matInput formControlName="phone" placeholder="Enter your phone" name="phone">
          <mat-error *ngIf="this.loginForm.get('phone').hasError('required')">
            phone is mandatory
          </mat-error>
          <mat-error *ngIf="this.loginForm.get('phone').hasError('minlength')">
            phone should be at least 8 characters
          </mat-error>
          <mat-error *ngIf="this.loginForm.get('phone').hasError('maxlength')">
            phone should not be more than 15 characters
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Log in</button>

      </form>
    </mat-card>
</div>